<%- include('../partials/header') %>
<div class="welcome-container">
    <h1>Welcome to QR Code Managing System</h1>
    <div class="buttons">
        <a href="/user/login" class="btn">Login</a>
        <a href="/user/register" class="btn">Register</a>
    </div>
</div>
<%- include('../partials/footer') %>
